 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="nav-brand">ADD YOUR TODO</label>
            <input type="text" name="name" value="" placeholder="Enter data here.." required>
        </div>
      

        <div class="form-group">
            <a href="../index.ejs"><button type="submit" class="btn text-dark update">ADD</button></a>
        </div>

    </div>
</form>
